<?xml version="1.0"?>
<!--
/*
 * @package    SussexDev_AjaxLogin
 * @copyright  Copyright (c) 2019 Scott Parsons
 * @license    https://github.com/ScottParsons/module-ajaxlogin/blob/master/LICENSE.md
 * @version    1.1.1
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Customer\Block\Account\AuthorizationLink">
        <plugin name="modify_signin_href" type="SussexDev\AjaxLogin\Plugin\ModifySignInHrefPlugin" />
    </type>
</config>
